Match3d/.vs
Match3d/Library
Match3d/Logs
Match3d/obj
Match3d/.vsconfig
Match3d/Temp

*.user
*.idea
*.csproj
*.csproj.user
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*.swp
*.DotSettings
*.gen.csproj.meta
*.bak